body {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  color: #282828;
  --bs-link-color-rgb: #282828;
  --color-black: #282828;
}

.main {
  overflow: hidden;
  width: 100%;
}

.header {
  padding-bottom: 50px;

  &__top {
    height: 68px;
    border-bottom: 1px solid #c7d0da;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 60px;

    &__logo {
      display: inline-block;
      color: #282828;
      text-decoration: none;

      &__number {
        text-align: right;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 1.3;
      }

      &__slogan {
        text-align: center;
        padding-top: 15px;
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }

  &__footer {
    position: relative;
    padding-bottom: 5px;
    margin: 0 -12px;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      width: calc(100% - 24px);
      height: 10px;
      background: #282828;
      border-radius: 0 0 5px 5px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 12px;
    }
  }

  &__nav {
    position: relative;
    z-index: 10;
    padding: 0 12px;
    justify-content: space-around;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #282828;

    li {
      padding: 0 5px;

      a {
        height: 58px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: #282828;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.3;
        font-weight: bold;
      }
    }
  }
}

.toolbar-top {
  height: 67px;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 32px;
    border-radius: 16px;
    margin-right: 16px;
    text-align: center;
    color: #282828;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.3;
    border: 1px solid #c7d0da;
  }

  &__soc {
    li {
      padding: 0 7px;
    }

    &__item {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #282828;
    }
  }

  &__ico-age {
    color: #282828;
  }

  &__logo {
    display: none;
  }

  &__right {
    align-items: center;
    justify-content: flex-end;

    &__ico {
      width: 50px;
      display: flex;
      justify-content: center;
      height: 40px;
      align-items: center;
      color: #282828;
    }
  }
}


.caption {
  text-decoration: none;
  margin-left: 1px;
  color: #fff !important;
  text-shadow: -1px -1px 0 #959595,
  0px -1px 0 #959595,
  1px -1px 0 #959595,
  1px 0px 0 #959595,
  1px 1px 0 #959595,
  0px 1px 0 #959595,
  -1px 1px 0 #959595,
  -1px 0px 0 #959595;
  position: relative;
  z-index: 1;
  line-height: 1.3;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  vertical-align: top;
  font-weight: 800;
  /*-webkit-text-stroke: 1px #959595;*/

  &::before {
    content: attr(data-text);
    position: absolute;
    z-index: 5;
    display: inline-block;
    width: 100%;
    left: -2px;
    top: -2px;
    color: #282828;
    /*text-shadow: none;*/
    text-shadow: -1px -1px 0 #282828,
    0px -1px 0 #282828,
    1px -1px 0 #282828,
    1px 0px 0 #282828,
    1px 1px 0 #282828,
    0px 1px 0 #282828,
    -1px 1px 0 #282828,
    -1px 0px 0 #282828;

  }

  &--h2 {
    font-size: 58px;
    &::before {
      left: -3px;
      top: -3px;
    }
  }

  &--h3 {
    font-size: 34px;

  }

  &--h4 {
    font-size: 28px;

  }

  &--h5 {
    font-size: 22px;

  }
}

.pl-25 {
  padding-left: 25px;
}

.button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 25px;
  height: 44px;
  border-radius: 22px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }

  &--black {
    border: none;
    color: #fff;
    background: #282828;

    &:disabled {
      background: #7a7a7a;
    }
  }

  &.button--big {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    height: 64px;
    border-radius: 32px;
  }

  &--white {
    border: none;
    color: #282828;
    background: #fff;
  }
}

.title-box-top {
  display: inline-flex;
  align-items: flex-start;

  .caption__rss {
    text-decoration: none;
    color: #282828;
    margin: 12px 0 0 10px;;
  }
}

.news-home {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 40px;
  }
}

.all-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #282828;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;

  svg {
    min-width: 18px;
    margin-left: 16px;
  }
}


.card-box {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex-grow: 1;
  padding: 39px;
  border-radius: 20px;
  border: 1px solid #282828;

  &--v1 {
    background-color: #e8ecf1;
    border-color: #e8ecf1;
  }

  &--v2 {
    background-color: #f3f1ef;
    border-color: #f3f1ef;
  }

  &__img {
    flex-grow: 1;
    padding-bottom: 30px;

    img {
      display: block;
      border-radius: 20px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
    padding-bottom: 10px;

    &.fs-24 {
      font-size: 24px;
    }
  }

  &__anons {
    padding-bottom: 10px;
    color: #6d6d6d;
    font-size: 15px;
    line-height: 1.3;
  }

  &__date {
    font-size: 15px;
    line-height: 1.4;
    font-weight: bold;
  }

  &--new {
    border-color: #2ecc71;
    background: #f7f9f7;
    padding-bottom: 18px;
  }

  &--fact {
    padding-bottom: 18px;
    position: relative;
    background: #fff;
  }

  &__new-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;

    &__caption {
      position: absolute;
      top: -58px;
      display: flex;
      justify-content: center;
      left: 0;
      width: 100%;

      span {
        display: block;
        height: 36px;
        width: 181px;
        text-align: center;
        background-color: #2ecc71;
        color: #fff;
        font-size: 16px;
        letter-spacing: 0.1em;
        line-height: 36px;
        font-weight: bold;
        border-radius: 10px;
        text-transform: uppercase;
      }
    }

    &__wrap {
      border: 1px solid #282828;
      margin-bottom: 18px;
      position: relative;
      z-index: 1;

      img {
        display: block;
        position: relative;
        z-index: 10;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -3px;
        width: calc(100% - 6px);
        left: 3px;
        height: 0;
        border-top: 3px solid #282828;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }

  &__footer-btn {
    margin-top: auto;
    display: flex;
    justify-content: center;

    .button {
      width: 145px;
    }
  }

  &.card-box--v3 {
    border: none !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    & > div {
      position: relative;
      z-index: 10;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: -moz-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 29%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
      background-image: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 29%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 29%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);

    }
  }

  .card-box__img--bottom {
    order: 3;
    padding-bottom: 0;
    padding-top: 30px;
    margin-top: auto;
    flex-grow: 0;
  }
}

.color-white {
  color: #fff !important;
}

.fpad40 {
  padding-bottom: 40px;
}

.fact {
  position: relative;

  &__header {
    padding-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    flex-grow: 1;
    text-align: center;

    &__img {
      padding-bottom: 16px;

      img {
        display: block;
        margin: 0 auto;
        border-radius: 55px;
      }
    }
  }

  &::before {
    content: '';
    display: block;
    height: 6px;
    background: #282828;
    width: calc(100% - 40px);
    left: 20px;
    position: absolute;
    z-index: 1;
    bottom: -6px;
    border-radius: 0 0 6px 6px;
  }
}

.fpad90 {
  padding-bottom: 90px;
}

.events {
  &__item {
    display: block;
    text-decoration: none;
    padding: 30px 35px;
    border-radius: 15px;
    margin-bottom: 30px;
    background: #ede7e1;
    color: #282828;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.mir-box {
  padding-top: 15px;
  text-align: center;

  &__caption {
    font-size: 13px;
    color: #50a558;
    line-height: 1.3;
    padding-bottom: 25px;
  }

  &__wrap {
    display: block;
    text-decoration: none;

    &__img {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;

      img {
        display: block;
        border-radius: 20px;
      }
    }

    &__title {
      font-size: 24px;
      line-height: 1.3;
      font-weight: bold;
      padding-bottom: 15px;
    }

    &__text {
      color: #6d6d6d;
      font-size: 15px;
    }
  }
}

.home-events {
  padding-bottom: 70px;
  border-bottom: 2px solid #282828;
  margin-bottom: 90px;
}

.spec-box {
  position: relative;

  &__img {
    position: relative;
    z-index: 10;

    img {
      display: block;
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  &__wrap {
    padding: 40px;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;

    h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.3;
      margin: 0;
      padding-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 1.3;
      margin: 0;
      padding-bottom: 20px;
    }

    &__footer {
      padding-top: 5px;
      display: flex;
      gap: 20px;

      .button {
        width: 145px;
      }
    }
  }

  &__logo {
    position: absolute;
    z-index: 20;
    top: 40px;
    right: 40px;
  }
}

.fpad60 {
  padding-bottom: 60px;
}

.marketing {
  &__header {
    text-align: center;
  }

  &__body {
    padding-top: 40px;
    border-top: 2px solid #282828;
    border-bottom: 2px solid #282828;
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f4f4f4;
  }
}

.home-categories {
  padding: 95px 0;
  border-bottom: 2px solid #282828;
  margin-bottom: 95px;

  &__col {
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;

    &:not(:last-child)::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: -1px;
      width: 2px;
      height: 100%;
      background: #282828;
    }
  }

  &__item {

    &__header {
      text-align: center;
    }

    &__body {
      border: none;
      padding: 35px 35px 0;
      border-radius: 0;

      .card-box__img {
        justify-content: center;
        display: flex;
      }

      .card-box__title {
        text-align: center;
      }

      .card-box__anons {
        text-align: center;
      }
    }
  }
}

.card-box.card-box--center {
  .card-box__title {
    text-align: center;
  }

  .card-box__img {
    display: flex;
    justify-content: center;
  }
}

.footer {
  background: #282828;

  &__top {
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6d6d6d;

  }

  &__logo {
    display: block;
    color: #fff;
    text-decoration: none;
  }

  &__soc {
    gap: 15px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background: #000;
    }
  }

  &__body {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #6d6d6d;
  }

  &__nav {
    flex-direction: column;

    li {

      &:not(:last-child) {
        padding-bottom: 10px;
      }

      a {
        display: block;
        font-size: 15px;
        color: #fff;
        line-height: 1.3;
        text-decoration: none;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: #aeaeae;
    font-size: 13px;
    line-height: 1.3;

    &__caption {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      line-height: 1.3;
      text-transform: uppercase;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
    }
  }

  &__rss {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
    }
  }

  &__bottom {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__copy {
    font-size: 13px;
    line-height: 1.3;
    color: #aeaeae;
  }

  &__portal {
    display: flex;
    align-items: center;

    &__ico {
      min-width: 36px;
    }

    span {
      flex-grow: 1;
      padding-left: 20px;
      color: #aeaeae;
      font-size: 13px;
      line-height: 1.3;
    }
  }

  &__web {
    display: flex;
    align-items: center;
    color: #aeaeae;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.3;

    &__ico {
      min-width: 20px;
      color: #fff;
    }

    &__desc {
      padding-left: 15px;
    }

    &__title {
      color: #fff;
      display: block;
    }
  }

  &__counters {
    display: flex;

    a {
      margin-right: 5px;
    }
  }

}

.fpad15 {
  padding-bottom: 15px;
}

.fpad5 {
  padding-bottom: 5px;
}

.fix_menu {
  .header__top__toolbar {
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .toolbar-top__logo {
    display: block;
  }
}

.toolbar-top__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-top__mob-nav,
.header__body__mob-subscription,
.header__nav-mob {
  display: none;
}

.fact__header {
  text-align: center;
}

.news-home__header {
  .all-link {
    margin-bottom: 15px;
  }
}

.reg-box::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 15px 30px 30px 15px;
}

.reg-box__left {
  position: relative;
  z-index: 10;


  &__wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }

  &__header {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
  }

  &__body {
    flex-grow: 1;
    padding-bottom: 220px;
    display: flex;
    align-items: center;
  }

  &__slide {
    padding: 15px 0;
    text-align: center;

    h3 {
      color: #fff;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      margin: 0;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 1921px) {
  .reg-box::after {
    background-image: url("../images/dist/bg-auth@2.jpg");
  }
}


@media screen and (max-width: 1920px) {
  .reg-box::after {
    background-image: url("../images/dist/bg-auth.jpg");
  }
}

.reg-box__logo-slogan {
  font-size: 18px;
  padding-top: 20px;
}

.swiper.swiper-fade .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}

.reg-box__right {
  padding-top: 40px;
  padding-bottom: 40px;
  flex-grow: 1;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__back {
    color: #282828;
    text-decoration: none;
  }
}

.form-reg {
  &__top {
    display: flex;
    margin-bottom: 15px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: #e8ecf1;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      position: relative;
      height: 48px;
      z-index: 10;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;

      &.active {
        color: #282828;

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 11;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background: #282828;
        }
      }
    }
  }

  &__inp {
    position: relative;
    margin-bottom: 18px;

    label {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0 0 5px;
      font-size: 14px;
      line-height: 1.3;
      color: #6d6d6d;
    }

    input {
      display: block;
      width: 100%;
      height: 48px;
      padding: 10px 15px;
      border: 1px solid #6d6d6d;
      border-radius: 10px;
      color: #282828;
      font-size: 14px;
      line-height: 26px;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid #6d6d6d;
        outline: none;
      }

      &.is-invalid {
        border-color: #e90a0a !important;
      }
    }

    &__pass {
      position: relative;

      input {
        padding-right: 60px !important;
      }
    }

    &__ico {
      position: absolute;
      z-index: 20;
      right: 0;
      width: 60px;
      height: 100%;
      top: 0;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      color: #6d6d6d;
      &.active {
        color: #282828;
      }
    }
  }

  &__ps {
    padding-bottom: 18px;
  }

  &__submit {
    display: flex;
    justify-content: center;

    .button {
      min-width: 194px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  &__link {
    color: #282828;
    font-size: 13px;
    text-decoration: underline;
  }

  &__footer {
    padding-top: 40px;
    &__soc {
      &__header {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        position: relative;
        height: 30px;
        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #e8ecf1;
          margin-top: -0.5px;
        }

        span {
          position: relative;
          z-index: 10;
          background: #fff;
          padding: 0 30px;
          color: #282828;
          font-size: 14px;
          line-height: 1.3;
        }
      }

      &__list {
        justify-content: center;
        gap: 20px;
        padding-bottom: 25px;
        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 24px;
          background-color: #e8ecf1;
        }
      }
    }

    &__text {
      font-size: 13px;
      line-height: 16px;
      color: #282828;
      text-align: center;
      a {
        color: #282828;
        text-decoration: underline;
      }
    }
  }
}

.custom-checkbox {
  input {
    display: none;

    &:checked + span::after {
      border-color: #282828;
      background-color: #282828;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='_Ð¡Ð»Ð¾Ð¹_1' data-name='Ð¡Ð»Ð¾Ð¹ 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 511.99 368.41'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: none; %7D .cls-3 %7B clip-path: url(%23clippath); %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-2' width='511.98' height='368.41'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-3'%3E%3Cpath class='cls-1' fill='%23fff' d='m500.09,11.89c-15.84-15.86-41.56-15.85-57.43,0L184.21,270.36l-114.87-114.87c-15.86-15.86-41.57-15.86-57.44,0s-15.86,41.57,0,57.44l143.58,143.58c7.93,7.93,18.32,11.9,28.71,11.9s20.8-3.96,28.72-11.9L500.09,69.33c15.86-15.85,15.86-41.57,0-57.44'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 9px 6px;
    }
  }

  &__value {
    display: block;
    user-select: none;
    color: #282828;
    font-size: 13px;
    line-height: 18px;
    position: relative;
    cursor: pointer;
    padding-left: 33px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #6d6d6d;
      transition: all 0.2s ease-in-out;
      border-radius: 4px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 1px 1px;
    }
  }
}

.just-validate-error-label {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: #e90a0a;
  font-size: 12px;
  line-height: 18px;
}

.form-reg__wrap__header {
  padding-bottom: 20px;
  h3 {
    color: #282828;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    color: #6d6d6d;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
}


.form-reg__alert {
  text-align: center;
  padding-bottom: 40px;
  &__ico {
    margin: 0 auto 30px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8ecf1;
  }

  h3 {
    color: #282828;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__desc {
    p {
      color: #282828;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}

.capcha-inp {
  height: 48px;
  border: 1px solid #010101;
}
