@media screen and (max-width: 1400px) {
  .header__nav li {
    padding: 0;
  }
  .header__nav li a {
    font-size: 12px;
  }
  .toolbar-top__right__ico {
    width: 40px;
  }
  .card-box.card-box--fact {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .toolbar-top__left,
  .toolbar-top__right__col-subscription {
    display: none;
  }
  .toolbar-top__center {
    justify-content: flex-start;
  }
  .toolbar-top__mob-nav {
    display: block;
    padding-right: 20px;
  }
  .toolbar-top__toggle-btn {
    padding: 3px 0;
    height: 24px;
    display: block !important;
  }
  .header__body__mob-subscription {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .header__body {
    flex-direction: column;
  }
  .header-mob-line {
    height: 6px;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
  }
  .header__top {
    border-bottom-color: var(--color-black);
  }
  .header__body {
    padding: 20px 0;
  }
  .header__body__logo svg {
    width: 500px;
    height: 32px;
  }
  .header__desktop-nav {
    display: none;
  }
  .header__nav-mob {
    display: block;
    position: absolute;
    z-index: 200;
    background: #fff;
    left: 0;
    top: 100%;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);

    .navbar-nav {
      padding: 30px 0 20px;
      height: calc(100vh - 67px);
      overflow-y: auto;

    }

    li {
      padding-bottom: 10px;
      text-align: center;

      a {
        text-decoration: none;
        color: var(--color-black);
      }
    }

    &__link1 {
      display: block;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &__link2 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      border-radius: 16px;
      padding: 5px 15px;
      border: 1px solid #c7d0da;
      font-size: 15px;
      line-height: 1.3;
    }

    &__link3 {
      display: block;
      font-size: 15px;
      line-height: 1.3;
    }

    &__journal {
      display: block;
      text-align: center;
      padding: 10px 0 30px !important;

      &__body {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &__caption {
        font-size: 14px;
        padding-bottom: 15px;
      }
    }

    .toolbar-top__soc {
      justify-content: center;
    }
  }
  .header__top__toolbar {
    position: relative;
    z-index: 100;
  }
  .caption--h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .footer__soc {
    justify-content: center;
    padding-top: 15px;
  }
  .footer__top {
    display: block;
    padding: 35px 0 30px;
    .footer__logo {
      display: flex;
      justify-content: center;
    }
  }
  .hone-categories__item {
    border-bottom: 2px solid var(--color-black);
  }
  .home-categories {
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: none;
  }
  .home-categories__col {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .home-categories__col:not(:last-child):after {
    display: none;
  }
  .marketing {
    display: none;
  }
  .toolbar-top__logo {
    svg {
      width: 130px;
      height: 8px;
    }
  }
  .header__top,
  .toolbar-top {
    height: 48px;
  }
  .header {
    padding-bottom: 20px;
  }
  .header__nav-mob .navbar-nav {
    height: calc(100vh - 48px);
  }
  .news-home {
    .all-link {
      display: none;
    }
  }
  .caption--h2 {
    font-size: 24px;
  }

  .news-home__header {
    padding-bottom: 18px;
  }
  .title-box-top .caption__rss {
    margin-top: 5px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
  .card-box__title.fs-24 {
    font-size: 18px;
  }
  .card-box__anons {
    font-size: 12px;
  }
  .card-box__date {
    font-size: 12px;
  }
  .card-box__title {
    font-size: 16px;
  }
  .fpad40 {
    padding-bottom: 20px;
  }
  .button.button--big {
    height: 48px;
    font-size: 12px;
    border-radius: 24px;
  }

  .card-box--new.card-box--mob {
    flex-direction: row;
    margin-bottom: 25px;
    .card-box__desc-nomer {
      padding-left: 20px;
      .card-box__new-img__caption{
        position: relative;
        top: auto;
        left: auto;
        width: auto;
      }
      .card-box__mob-nomer {
        padding: 20px 0;
        font-size: 14px;
      }
      .card-box__footer-btn {
         .button {
           width: 100%;
         }
      }
    }
  }
  .fpad90 {
    padding-bottom: 40px;
  }
  .caption--h3 {
    font-size: 24px;
  }
  .card-box.card-box--fact {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .events__item {
    font-size: 18px;
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .events {
    padding-bottom: 25px;
  }
  .mir-box__wrap__img {
    padding-bottom: 20px;
  }
  .mir-box__wrap__title {
    font-size: 18px;
  }
  .mir-box__wrap__text {
    font-size: 12px;
  }
  .home-events {
    padding-bottom: 35px;
    margin-bottom: 40px;
  }
  .marketing__img {
    aspect-ratio: auto;
    height: 250px;
  }
  .card-box--v3 {
    .card-box__img {
      padding-top: 150px;
    }
  }
  .mir-box__wrap__img img {
    border-radius: 10px;
  }
  .card-box {
    border-radius: 10px;
  }
  #sliderNews .swiper-slide {
    width: 440px;
  }
  .footer__body {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer__bottom {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .footer__web__ico {
    padding-left: 8px;
    padding-right: 8px;
  }
  .footer__web__desc {
    padding-left: 20px;
  }
}


@media screen and (max-width: 768px) {
  .footer__logo {
    svg {
      width: 270px;
      height: 17px;
    }
  }
  .footer__info,
  .footer__copy {
    font-size: 11px;
  }
  .footer__info__caption {
    font-size: 14px;
  }
  .footer__soc__item {
    width: 36px;
    height: 36px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .card-box .card-box__img--bottom {
    padding-top: 15px;
  }
  #sliderNews .swiper-slide {
    width: 221px;
  }
  .fpad40 {
    padding-bottom: 10px;
  }
  .card-box {
    padding: 20px;
  }
  .card-box--new.card-box--mob {

    .card-box__new-img__wrap {
      margin-bottom: 0;
    }
    img {
      width: 72px;
      height: auto;
    }
  }
  .card-box__new-img__caption span {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    width: 135px;
    border-radius: 7px;
  }
  .card-box--new.card-box--mob .card-box__desc-nomer .card-box__mob-nomer {
    padding: 15px 0;
  }
  .button {
    height: 44px;
    padding: 5px 25px;
  }
  .card-box__img {
    padding-bottom: 15px;
  }
  .card-box__img img,
  .spec-box__img img {
    border-radius: 10px;
  }
  .marketing__img {
    aspect-ratio: auto;
    height: 148px;
  }
  .header__body__logo__number {
    display: none;
  }
  .header__body__logo svg {
    width: 270px;
    height: 17px;
  }
  .header__body__logo__slogan {
    padding-top: 5px;
    font-size: 12px;
  }
  .toolbar-top__right__ico {
    width: auto;
  }
  .toolbar-top__right {
    gap: 18px;
  }
  .header__body__mob-subscription {
    padding-top: 10px;
  }
  .mir-box__wrap {
    padding: 0 30px;
  }
  .spec-box__img img {
    height: 320px;
  }

  .spec-box__wrap {
    padding: 20px;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .spec-box__logo{
    top: 20px;
    right: 20px;
  }
  .spec-box__wrap__footer .button {
    width: 110px;
    padding: 5px;
  }
  .fpad60 {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 574px) {

}

@media screen and (max-width: 350px) {
  .toolbar-top__right {
    gap: 12px;
  }
}
