@media screen and (max-width: 1400px) {

  .header__nav li {
    padding: 0;
  }
  .header__nav li a {
    font-size: 12px;
  }
  .toolbar-top__right__ico {
    width: 40px;
  }
  .card-box.card-box--fact {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner__text {
    width: 500px;
  }

  .crosswords__header__label {
    font-size: 16px;
  }
  .element-top .elements__item {
    width: 142px;
    height: 142px;
    min-height: 142px;
    padding: 20px;
    border-radius: 10px;

    .elements__item__header {
      border-radius: 10px;
      height: 98px;
      padding: 5px 7px;
    }

    .elements__item__header__number,
    & .elements__item__header__atomic-mass {
      font-size: 14px;
      height: 16px;
    }

    .elements__item__header__title {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .banner.banner--elemet {
    background-image: url("../images/dist/bg-element_mob.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 320px auto;
    height: 350px;
  }

  .element-top .elemets-table {
    display: none;
  }
  .progress-bar {
    z-index: 200;
    position: fixed;
    left: 0;
    top: 68px;
    height: 1px;
    width: 0%;
    background: #292929;
  }

  .banner {
    padding: 30px;
  }
  .banner__text {
    width: 400px;
  }
  .banner--journal {
    background-size: 500px auto;
  }
  .toolbar-top__left,
  .toolbar-top__right__col-subscription {
    display: none;
  }
  .toolbar-top__center {
    justify-content: flex-start;
  }
  .toolbar-top__mob-nav {
    display: block;
    padding-right: 20px;
  }
  .toolbar-top__toggle-btn {
    padding: 3px 0;
    height: 24px;
    display: block !important;
  }
  .header__body__mob-subscription {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .header__body {
    flex-direction: column;
  }
  .header-mob-line {
    height: 6px;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
  }
  .header__top {
    border-bottom-color: var(--color-black);
  }
  .header__body {
    padding: 20px 0;
  }
  .header__body__logo svg {
    width: 500px;
    height: 32px;
  }
  .header__desktop-nav {
    display: none;
  }
  .header__nav-mob {
    display: block;
    position: absolute;
    z-index: 200;
    background: #fff;
    left: 0;
    top: 100%;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);

    .navbar-nav {
      padding: 30px 0 20px;
      height: calc(100vh - 67px);
      overflow-y: auto;

    }

    li {
      padding-bottom: 10px;
      text-align: center;

      a {
        text-decoration: none;
        color: var(--color-black);
      }
    }

    &__link1 {
      display: block;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &__link2 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      border-radius: 16px;
      padding: 5px 15px;
      border: 1px solid #c7d0da;
      font-size: 15px;
      line-height: 1.3;
    }

    &__link3 {
      display: block;
      font-size: 15px;
      line-height: 1.3;
    }

    &__journal {
      display: block;
      text-align: center;
      padding: 10px 0 30px !important;

      &__body {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &__caption {
        font-size: 14px;
        padding-bottom: 15px;
      }
    }

    .toolbar-top__soc {
      justify-content: center;
    }
  }
  .header__top__toolbar {
    position: relative;
    z-index: 100;
  }
  .caption--h4 {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .crossword__mob-tabs {
    display: none;
  }
  #vertical,
  #horizontally {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 991px) {
  .single-book__mob-sharing {
    display: block;
    padding-bottom: 40px;
    margin-top: -10px;
    .news__sharing {
      padding-top: 0;
      flex-direction: row;
      justify-content: center;
    }
  }
  .single-book__img {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  .books-params {
    order: 2;
    padding-top: 0;
  }
  .books-list {
    margin-bottom: 30px;
  }
  .journal-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mtop-1 {
    position: relative;
    z-index: 20;
    margin-top: -1px;
  }
  .header-box {
    display: block;
    padding-bottom: 15px;
  }

  .elements {
    padding-bottom: 25px;
  }
  .elements__item {
    display: flex;
    min-height: auto;
    gap: 20px;
    .elements__item__header {
      width: 225px;
      min-width: 225px;
    }
    .elements__item__body {
      padding-top: 0;
    }
  }
  .banner.banner--elemets {
    background-image: url("../images/dist/bg-element_mob.png");
    background-size: 320px auto;
    background-position: 50% 100%;
    height: 350px;
    margin-bottom: 20px;

    .elemets-table {
      display: none;
    }
  }
  .mendel-mob-slider {
    padding-bottom: 40px;
    display: block;

    .swiper-slide {
      width: 45px !important;
      height: 45px !important;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        color: #c7d0da;
        font-size: 18px;
        line-height: 1.2;
        font-weight: bold;
        border: 1px solid #c7d0da;
        border-radius: 5px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        color: #282828;
        font-size: 18px;
        line-height: 1.2;
        font-weight: bold;
        border: 1px solid #282828;
        border-radius: 5px;
        text-decoration: none;
      }

      &.chem_group_default {
        a {
          background: #f2f2f3;
        }
      }

      &.chem_group_metalloid {
        a {
          background: #cccc9a;
        }
      }

      &.chem_group_halogen {
        a {
          background: #feff98;
        }
      }

      &.chem_group_alkali {
        a {
          background: #ff6566;
        }
      }

      &.chem_group_transition {
        a {
          background: #ffbfbe;
        }
      }

      &.chem_group_posttransition {
        a {
          background: #ffbfbe;
        }
      }

      &.chem_group_actinide {
        a {
          background: #ffbfbe;
        }
      }
    }

  }
  .spec-box.spec-box--min.spec-box--full-width.spec-box--mendel {
    .spec-box__img {
      display: none;
    }
  }
  .crossword {
    padding-bottom: 30px;
  }
  .crossword__questions__group__item__numb {
    font-size: 14px;
  }
  .crossword__questions__group__item p {
    font-size: 12px;
    line-height: 18px;
  }
  .crossword__mob-tabs {
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    border-bottom: 2px solid #282828;

    li {
      width: 50%;

      a {
        padding-bottom: 10px;
        display: block;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #7a7a7a;

        &.active {
          color: #282828 !important;
        }
      }
    }
  }
  .crossword__questions__caption {
    display: none;
  }
  .pagination {
    padding-top: 20px;
  }
  .crosswords__list {
    padding-bottom: 10px;
  }
  .crosswords__list__item {
    padding: 20px 20px 20px 90px;
    min-height: auto;

    &__ico {
      top: 20px;
      left: 20px;
      width: 48px;
      height: 48px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      font-size: 14px;

      b {
        font-size: 30px;
      }
    }

    &__views {
      font-size: 12px;
    }
  }
  .caption--h1:before {
    left: -2px;
    top: -2px;
  }
  .crosswords__header {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .crosswords__header__label {
    padding: 18px 0 15px;
  }
  .reg-box__mob-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    color: #fff;
  }
  .reg-box {
    background: url(../images/dist/bg-auth.jpg) 50% -50px no-repeat;
    background-size: 100% auto;
  }
  .reg-box__inner {
    padding: 25px 0;
    background: #fff;
    border-radius: 18px 18px 0 0;
  }
  .reg-box__right {
    position: relative;
    padding-top: 0;
  }
  .reg-box__right__header {
    position: absolute;
    z-index: 10;
    top: -75px;
    right: 0;

    .reg-box__right__back {
      color: #fff;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .reg-box__left,
  .reg-box:after {
    display: none;
  }
  .library-banner-top__desc {
    width: 100%;
  }
  .library-banner-top__desc h2 {
    font-size: 18px;
  }
  .library-banner-top__desc p {
    font-size: 16px;
  }
  .library-banner-top {
    background-size: 320px auto;
    padding: 15px 15px 190px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  .editor-group__header {
    padding-bottom: 10px;
  }
  .contacts-info {
    margin-bottom: 25px;
  }
  .editor-group {
    margin: 0 0 25px;
    max-width: 100%;
  }
  .contacts-info__left {
    padding-right: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #282828;
  }
  .contacts-info__right {
    padding-left: 0;
  }
  .contacts-info:after {
    display: none;
  }
  .journal-video__box__back {
    display: none;
  }
  .journal-video__box {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }
  .journal-video {
    padding: 50px 0;
  }
  .journal-prim {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .journal-prim__caption {
    padding-top: 0;
    margin-top: 0;
  }
  .journal-top__img {
    height: 120px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .journal-top {
    position: relative;
  }
  .journal-top__ico {
    width: 73px;
    height: 73px;
    right: 20px;
    top: 0;

    img {
      width: 62px;
      height: 62px;
    }
  }
  .journal-top__img__main {
    left: 15px;

    img {
      width: 270px;
      height: auto;
    }
  }
  .journal-top__desc {
    padding: 20px 15px 160px 15px;
  }
  .news__top__ico {
    width: 24px;
    min-width: 24px;
    height: 24px;

    svg {
      width: 10px;
      height: 10px;
    }
  }
  .new-journal-footer__title {
    padding-bottom: 15px;
    font-size: 16px;
  }
  .new-journal-footer__params {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 1.2;
  }
  .news {
    padding-bottom: 50px;
  }
  .new-journal {
    margin-bottom: 50px;
  }
  .new-journal-footer {
    align-items: flex-start;
  }
  .new-journal-footer__img {
    width: 110px;
    min-width: 110px;
    padding: 0 10px;

    .new-journal-link {
      width: 100%;
      padding: 8px;
    }

    .card-box__new-img__wrap {
      width: 100%;
    }
  }
  .new-journal-footer__btns {
    flex-direction: column;
    gap: 10px;
    width: 200px;
    padding-top: 10px;
  }
  .progress-bar {
    top: 48px;
  }
  .news__content h2,
  .news__content h1 {
    font-size: 36px;
  }
  .news__content h4 {
    font-size: 20px;
  }
  .reklama-statistics__graf img {
    display: block;
    margin: 15px auto 0;
  }
  .banner--rek-portal {
    background-size: 152px auto;
    background-position: 50% 100%;
    padding-bottom: 170px;
    background-image: url("../images/dist/banner-rek-portal_mob.png");
  }
  .banner__text p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 18px;
  }
  .banner__text__footer {
    padding-top: 20px;
  }
  .banner__text h2 {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .tpad25 {
    padding-top: 10px;
  }
  .fs-16 {
    font-size: 14px !important;
  }
  .fpad50 {
    padding-bottom: 25px;
  }
  .table {
    thead th {
      padding: 20px 0 10px 0 !important;
      font-size: 12px !important;
      line-height: 1.2;
    }

    tbody th,
    tbody td {
      padding: 10px 0 !important;
      vertical-align: middle;
      font-size: 12px !important;
      line-height: 1.2;
    }
  }
  .banner--journal {
    background-size: 100% auto;
    background-position: 50% 100%;
    padding-bottom: 300px;
    padding-right: 30px;
    background-image: url("../images/dist/baaner-journal_mob.png");
  }
  .banner__text {
    width: 100%;
  }
  .banner {
    margin-bottom: 30px;
  }

  .title-border {
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .caption--fs48 {
    font-size: 24px;
  }
  .fs-18 {
    font-size: 14px;
  }
  .mb-45 {
    margin-bottom: 20px;
  }
  .caption--h1 {
    font-size: 22px;
  }
  .footer__soc {
    justify-content: center;
    padding-top: 15px;
  }
  .footer__top {
    display: block;
    padding: 35px 0 30px;

    .footer__logo {
      display: flex;
      justify-content: center;
    }
  }
  .hone-categories__item {
    border-bottom: 2px solid var(--color-black);
  }
  .home-categories {
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: none;
  }
  .home-categories__col {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .home-categories__col:not(:last-child):after {
    display: none;
  }
  .marketing {
    display: none;
  }
  .toolbar-top__logo {
    svg {
      width: 130px;
      height: 8px;
    }
  }
  .header__top,
  .toolbar-top {
    height: 48px;
  }
  .header {
    padding-bottom: 20px;
  }
  .header__nav-mob .navbar-nav {
    height: calc(100vh - 48px);
  }
  .news-home {
    .all-link {
      display: none;
    }
  }
  .caption--h2 {
    font-size: 24px;
  }

  .news-home__header {
    padding-bottom: 18px;
  }
  .title-box-top .caption__rss {
    margin-top: 5px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
  .card-box__title.fs-24 {
    font-size: 18px;
  }
  .card-box__anons {
    font-size: 12px;
  }
  .card-box__date {
    font-size: 12px;
  }
  .card-box__title {
    font-size: 16px;
  }
  .fpad40 {
    padding-bottom: 20px;
  }
  .button.button--big {
    height: 48px;
    font-size: 12px;
    border-radius: 24px;
  }

  .card-box--new.card-box--mob {
    flex-direction: row;
    margin-bottom: 25px;

    .card-box__desc-nomer {
      padding-left: 20px;

      .card-box__new-img__caption {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
      }

      .card-box__mob-nomer {
        padding: 20px 0;
        font-size: 14px;
      }

      .card-box__footer-btn {
        .button {
          width: 100%;
        }
      }
    }
  }
  .fpad90 {
    padding-bottom: 40px;
  }
  .caption--h3 {
    font-size: 24px;
  }
  .card-box.card-box--fact {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .events__item {
    font-size: 18px;
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .events {
    padding-bottom: 25px;
  }
  .mir-box__wrap__img {
    padding-bottom: 20px;
  }
  .mir-box__wrap__title {
    font-size: 18px;
  }
  .mir-box__wrap__text {
    font-size: 12px;
  }
  .home-events {
    padding-bottom: 35px;
    margin-bottom: 40px;
  }
  .marketing__img {
    aspect-ratio: auto;
    height: 250px;
  }
  .card-box--v3 {
    .card-box__img {
      padding-top: 150px;
    }
  }
  .mir-box__wrap__img img {
    border-radius: 10px;
  }
  .card-box {
    border-radius: 10px;
  }
  #sliderNews .swiper-slide {
    width: 440px;
  }
  .footer__body {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer__bottom {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .footer__web__ico {
    padding-left: 8px;
    padding-right: 8px;
  }
  .footer__web__desc {
    padding-left: 20px;
  }
  .fpad140 {
    padding-bottom: 50px;
  }
  .crossword__questions {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {

  .pagination.pagination--v2 {
    padding-top: 10px;
  }
  .mob-pad-0 {
    padding-bottom: 0;
  }
  .events__item__pic {
    width: 90px;
    min-width: 90px;
  }
  .events__item {
    flex-direction: column-reverse;
    gap: 18px;
    &__title {
      font-size: 16px;
    }
    &__footer {
      padding-top: 15px;
    }

    &__date {
      height: 36px;
      padding: 5px 15px;
      border-radius: 18px;
      font-size: 12px;
      svg {
        display: none;
      }
    }
  }
  .events__item__text, .events__item__text p {
    font-size: 12px;
  }
  .books-params {
    padding-bottom: 5px;
  }
  .author-box {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .author-box__wrap {
    flex-direction: column;
    gap: 20px;
  }
  .books-params p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .price-box {
    padding: 20px;
    gap: 15px;
    & .price-box__item__btn {
      min-width: 121px;
      width: 21px;
    }
    .price-box__item__label {
      font-size: 12px;
    }
    .price-box__item__cost {
      font-size: 20px;
    }
  }
  .mb-25 {
    margin-bottom: 10px;
  }
  .books-slider {
    padding: 20px 0;
    .swiper-slide {
      width: 221px;
      &:first-child {
        .journal-box__wrap:after {
          display: none;
        }
      }
    }
    .swiper {
      overflow: visible;
    }
    .journal-box__wrap:after {
      left: -8px;
    }
    .swiper__nav {
      display: none !important;
    }
  }
  .sets-journal {
    margin-bottom: 30px;
  }
  .journal-footer-nav__link {
    font-size: 20px;
    gap: 10px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .journal-footer-nav {
    padding: 15px 0;
  }
  .journal-box__footer {
    padding: 8px 0 10px;
  }
  .journal-box .journal-box__price {
    padding-top: 5px;
  }
  .journal-box .journal-box__price .price {
    font-size: 18px;
  }
  .journal-box__title {
    font-size: 12px;
    line-height: 18px;
  }
  .journal-box__wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  .elements__item {
    padding: 20px;
    border-radius: 10px;
  }
  .elements-nav__item.elements-nav__item--center {
    display: none;
  }
  .elements-nav {
    justify-content: space-between;
  }
  .banner.banner--elemet {
    position: relative;
    margin-bottom: 80px;
    padding-top: 15px;

    .element-top__col {
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: -71px;
      margin-left: -71px;
    }
  }
  .spec-box--full-width.spec-box--mendel {
    height: 370px;
    padding-bottom: 160px;
    padding-top: 15px;

    img {
      width: 300px !important;
      height: auto;
    }

    .spec-box__img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
    }

    .spec-box__wrap {
      display: block;

      p {
        font-size: 16px;
      }

      h1 {
        margin-bottom: 15px;
      }
    }
  }
  .editor-group__item--mob-market {
    display: block;
    padding-top: 30px;

    .marketing-mob {
      padding-bottom: 5px;
    }
  }
  .editor-group__item {
    align-items: flex-start;

    .editor-group__item__img {
      margin-top: 25px;
    }
  }
  .marketing-mob {
    display: block;
    padding-bottom: 30px;
  }
  #specProjects {
    .swiper-wrapper {
      height: auto;
      flex-direction: column;
      gap: 10px;
    }

  }
  #specProjectsNext,
  #specProjectsPrev {
    display: none !important;
  }
  .news__content__top-author {
    padding-bottom: 20px;

    .editor-group__item__desc {
      padding-top: 0;
    }

    .editor-group__item {
      align-items: flex-start;
    }
  }
  .news.fpad60 {
    padding-bottom: 30px;
  }
  .editor-group__item {
    gap: 20px;
  }
  .spec-box--full-width.spec-box--min {
    height: auto;

    .spec-box__wrap {
      position: relative;
    }
  }
  .editor-group__item__text {
    font-size: 12px;
  }

  .crosswords__list__item__title {
    padding-bottom: 5px;
  }
  .crosswords__header__filter__label {
    font-size: 16px;
  }
  .crosswords__header__year {
    font-size: 20px;
    width: 70px;
    min-width: 70px;
  }
  .pagination .active, .pagination .pagination__item__dotts, .pagination a {
    width: 36px;
    height: 36px;
    font-size: 12px;
  }
  .pagination__btn__nav svg {
    width: 18px;
    height: 18px;
  }
  .crosswords {
    padding-bottom: 50px;
  }

  .subscription__item__box__price-val {
    font-size: 18px;
  }
  .subscription__item__box__price-label {
    font-size: 14px;
    line-height: 18px;
  }
  .subscription__item__box__footer {
    flex-direction: column;
    padding-top: 0;
    text-align: center;

    .subscription__item__box__col-price {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 15px;
      gap: 5px;
    }
  }
  .subscription__item__box__body {
    padding: 10px 20px 5px;
  }
  .fpad140 {
    padding-bottom: 30px;
  }
  .subscription__item__box__title {
    font-size: 14px;
    padding-bottom: 15px;

    b {
      display: inline;
    }
  }
  .subscription__item__box__price__month {
    font-size: 12px;
    line-height: 18px;
  }
  .subscription__item__box__price__old,
  .subscription__item__box__price__main {
    font-size: 18px;
  }
  .subscription__item__box__price {
    flex-wrap: wrap;
    gap: 0 10px;

    .subscription__item__box__price__month {
      width: 100%;
    }
  }
  .subscription__item__box__header:not(.collapsed):before {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: 26px;
    top: 26px;
  }
  .subscription__item__box__header:after {
    width: 24px;
    height: 24px;
    top: 20px;
    left: 20px;
  }
  .subscription__item__box__header {
    padding: 18px 50px 5px 60px;
  }
  .subscription__item__title {
    font-size: 18px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 5px;
  }
  .custom-radio-box__value:after {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-top: -12px;
    left: 20px;
  }
  .custom-radio-box__value:before {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    left: 26px;
  }
  .custom-radio-box__value {
    border-radius: 10px;
    padding-left: 62px;
    font-size: 14px;
  }
  .help-lib__title {
    padding: 0 0 15px;
    text-align: center;
    font-size: 18px;
  }
  .rules-box li {
    font-size: 14px;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  .help-lib {
    padding: 20px 10px 10px;
    gap: 15px;
  }
  .help-lib__caption {
    padding: 0 0 10px;
    font-size: 16px;
  }
  .help-lib__label-inp {
    padding-left: 0;
  }
  .help-lib__res__cost {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .help-lib__res__btn {
    padding: 0 10px;
  }
  .button.h-64 {
    font-size: 14px;
  }
  .editor-group__item__title {
    font-size: 16px;
  }
  .editor-group__item__position {
    font-size: 14px;
    padding-top: 5px;
  }
  .editor-group__item__desc {
    padding: 20px 0;
    min-height: auto;
  }
  .editor-group__item__img img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
  .editor-group__header {
    padding-bottom: 5px;
    font-size: 18px;
  }

  .journal-video {
    padding: 20px 0 30px;
    margin-bottom: 40px;
  }
  .history-slide {
    min-height: 360px;

    img {
      height: 100%;
      min-height: 360px;
      object-fit: cover;
      object-position: 50% 0;
    }

    &__wrap {
      padding: 100px 20px 0;
      bottom: 20px;

      p {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 5px;
      }
    }

    &__years {
      font-size: 30px;
    }
  }
  #revSlider {
    overflow: visible;
  }
  .reviews-slider__item__name {
    font-size: 14px;
  }
  .reviews-slider__item__market {
    width: 60px;

    svg {
      width: 100%;
      height: auto;
    }
  }
  .reviews-slider {
    margin-bottom: 0;
  }
  .reviews-slider__item {
    background-size: 24px 18px;
    background-position: 18px 18px;
    padding: 50px 18px 25px 18px;
  }
  #historySlider .swiper-slide,
  #revSlider .swiper-slide {
    width: 221px;
  }
  .reviews-slider__item__body p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  #historySliderNext,
  #historySliderPrev,
  #revNext,
  #revPrev {
    display: none;
  }
  .journal-prim {
    padding: 18px;

    &__ico {
      width: 48px;
      min-width: 48px;
      height: 48px;

      svg {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    &__caption {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .slider-journal {
    .swiper-slide {
      width: 221px;
    }

    .swiper__nav {
      display: none !important;
    }

    .swiper {
      overflow: visible;
    }
  }
  .news__content__footer-link {
    .news__sharing {
      padding-top: 0 !important;
      padding-bottom: 30px;
    }
  }
  .new-journal__title {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .new-journal__img {
    width: 80px;
    padding: 10px;
  }
  .related-articles__list {
    margin-bottom: 40px;
  }
  .new-journal {
    margin-bottom: 40px;
    padding: 10px 25px 0 10px;
    border-radius: 10px;
    gap: 20px;
    height: 155px;

    .button {
      width: 135px;
      height: 36px;
      font-size: 12px;
    }
  }
  .related-articles__list {
    margin-top: 15px;
  }
  .news__footer__mob-sharing {
    display: block;

    .news__sharing {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 25px;
    }
  }
  .news {
    padding-bottom: 35px;
  }
  .news__footer__authors {
    display: block;
    padding-bottom: 15px;

    &__label {
      width: 100%;
      padding-bottom: 15px;
      font-size: 14px;
    }
  }
  .news__footer__authors__list {
    display: block;
  }
  .news__footer__authors__item {
    width: 100%;
    padding-bottom: 10px;
  }
  .news__link {
    padding: 5px 0 25px;

    b {
      display: block;
      padding-bottom: 5px;
    }
  }
  .news__content p {
    margin-bottom: 25px;
  }
  .news__slider {
    margin-bottom: 25px;

    .swiper__nav--next {
      right: 10px;
    }

    .swiper__nav--prev {
      left: 10px;
    }

    .swiper__nav {
      width: 38px;
      height: 38px;
      margin-top: -19px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__page {
      padding-top: 10px;
    }
  }
  .news__content {
    h2 {
      font-size: 22px;
      padding-bottom: 10px;
    }

    h4 {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }
  .news__slider__item__front {
    height: 300px;
  }
  .news__slider__item {
    height: 300px;
    padding: 0 33px;
  }
  .news__top {
    flex-wrap: wrap;
    gap: 16px;
  }
  .news__top__cat,
  .news__top__date,
  .news__top__time-read {
    font-size: 12px;
  }
  .news__top__col-castle {
    margin: 0;
    width: 100%;
    gap: 20px;
  }
  .news__top__time-read {
    margin-left: 0;
  }
  .reklama-statistics__item__number {
    font-size: 48px;
    line-height: 50px;
    height: 52px;
  }
  .reklama-statistics__item {
    padding-bottom: 20px;
  }
  .reklama-statistics__item__text {
    font-size: 14px;
  }
  .reklama-statistics__item__number .min {
    font-size: 24px;
  }
  .info-user-box {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .caption--h5 {
    font-size: 18px;
  }
  .info-user-box .editor-group__item__title,
  .editor-group__item__email, .editor-group__item__phone {
    font-size: 16px;
    line-height: 24px;
  }

  .editor-group__item__img {
    min-width: 64px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
  .number-list__right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 15px;
    min-width: auto;

    svg {
      height: 36px;
      width: 36px;
    }
  }
  .number-list__value {
    font-size: 40px;
    line-height: 1;
    padding-bottom: 10px;
  }
  .number-list li:not(:last-child) {
    border-bottom-width: 1px;
  }
  .number-list__desc {
    padding-right: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .number-list li:first-child {
    padding-top: 0 !important;
  }
  .number-list li {
    display: block;
    padding: 15px 0;
    position: relative;
  }
  .card-box.card-box--reklama {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text .h2 {
    font-size: 18px;
  }
  .text p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__logo {
    svg {
      width: 270px;
      height: 17px;
    }
  }
  .footer__info,
  .footer__copy {
    font-size: 11px;
  }
  .footer__info__caption {
    font-size: 14px;
  }
  .footer__soc__item {
    width: 36px;
    height: 36px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
  .card-box .card-box__img--bottom {
    padding-top: 15px;
  }
  #sliderNews .swiper-slide {
    width: 221px;
  }

  .card-box {
    padding: 20px;
  }
  .card-box--new.card-box--mob {

    .card-box__new-img__wrap {
      margin-bottom: 0;
    }

    img {
      width: 72px;
      height: auto;
    }
  }
  .card-box__new-img__caption span {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    width: 135px;
    border-radius: 7px;
  }
  .card-box--new.card-box--mob .card-box__desc-nomer .card-box__mob-nomer {
    padding: 15px 0;
  }
  .button {
    height: 44px;
    padding: 5px 25px;
  }
  .card-box__img {
    padding-bottom: 15px;
  }
  .card-box__img img,
  .spec-box__img img {
    border-radius: 10px;
  }
  .marketing__img {
    aspect-ratio: auto;
    height: 148px;
  }
  .header__body__logo__number {
    display: none;
  }
  .header__body__logo svg {
    width: 270px;
    height: 17px;
  }
  .header__body__logo__slogan {
    padding-top: 5px;
    font-size: 12px;
  }
  .toolbar-top__right__ico {
    width: auto;
  }
  .toolbar-top__right {
    gap: 18px;
  }
  .header__body__mob-subscription {
    padding-top: 10px;
  }
  .mir-box__wrap {
    padding: 0 30px;
  }
  .spec-box__img img {
    height: 320px;
  }

  .spec-box__wrap {
    padding: 20px;

    h3 {
      font-size: 18px;

      br {
        display: none;
      }
    }

    p {
      font-size: 14px;
    }
  }
  .spec-box__logo {
    top: 20px;
    right: 20px;
  }
  .spec-box__wrap__footer .button {
    width: 110px;
    padding: 5px;
  }
  .fpad60 {
    padding-bottom: 30px;
  }
  .journal-top__desc p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .journal-top__img-r {
    margin: -160px 0 0 0;
  }
  .fpad80 {
    padding-bottom: 40px;
  }
  .reviews-slider__footer-btn {
    padding-top: 25px;
  }
  .reviews-slider__item__position {
    font-size: 12px;
  }
  .reviews-slider__item__name {
    font-size: 14px;
  }
  .reviews-slider__item__link {
    width: 24px;
    height: 24px;

    svg {
      width: 8px;
      height: 8px;
    }
  }
  .subscription__item__box__header--active .button {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 15px;
  }
  .subscription__item__title {
    padding: 0 0 5px;
  }
  .form-border__caption {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .form-border__price__top {
    font-size: 14px;
  }
  .payment-desc {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .form-border__group {
    .fpad10 {
      padding-bottom: 15px;
    }
  }
  .form-border__price__bottom {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .form-border__group {
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .form-border__caption2 {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .payment-item__box {
    height: 110px;
    padding: 25px 10px 20px;
  }
  .fpad15 {
    padding-bottom: 5px;
  }
  .promo-code__form__btn {
    height: 38px;
    width: 36px;
    padding: 0;
    font-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg id='_Слой_2' data-name='Слой 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 341.34 331.87'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath fill='%23fff' d='M259.67,187.26H0s0-42.66,0-42.66l259.66-.02L145.24,30.17,175.41,0l165.93,165.93-165.93,165.93-30.17-30.17,114.43-114.43Z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px auto;
  }
  .promo-code__form__alert {
    padding-left: 0;
    font-size: 12px;
  }
  .form-border__ps {
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .form-border__price {
    font-size: 30px;
    padding-bottom: 12px;
  }
  .form-border__subscription {
    padding-bottom: 10px;
  }
  .form-border__footer {
    font-size: 12px;
  }
  .form-border__btn {
    width: 100%;

    .button.button--big {
      height: 64px;
      border-radius: 32px;
    }
  }
  .subscription__item__box__structure {
    font-size: 12px;
    line-height: 16px;
  }
  .crosswords__header {
    padding-bottom: 10px;
  }
  .news__content h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 574px) {
  .header-filter__label {
    font-size: 16px;
  }
  .journal-box__wrap:after {
    left: -6px;
  }
  .elements__item {
    .elements__item__header {
      width: 100px;
      min-width: 100px;
      height: 100px;
      border-radius: 10px;
      padding: 5px;
      .elements__item__header__number {
        font-size: 14px;
        line-height: 16px;
        height: 16px;
      }
      .elements__item__header__atomic-mass {
        font-size: 14px;
        line-height: 16px;
        height: 16px;
      }
      .elements__item__header__title {
        font-size: 36px;
      }
    }
    .elements__item__body h2 {
      font-size: 16px;
    }
    .elements__item__body p {
      font-size: 12px;
    }
  }
  .elements {
    padding-bottom: 0;
  }
  .fpad90 {
    padding-bottom: 20px;
  }


  .banner.banner--elemets {
    padding-top: 15px;
    border-radius: 10px;
  }
  .elements-nav__item__footer {
    margin-top: 10px;
    font-size: 12px;
  }
  .elements-nav {
    padding-top: 35px;
    padding-bottom: 30px;

    &__item {
      width: 142px;

      .elements-nav__item__header {

        width: 142px;
        height: 142px;
        min-height: 142px;
        padding: 20px;
        border-radius: 10px;

        .elements-nav__item__header__inner {
          border-radius: 10px;
          height: 98px;
          padding: 5px 7px;
        }

        & .elements-nav__item__header__atomic-mass,
        & .elements-nav__item__header__number {
          font-size: 14px;
          height: 16px;
          line-height: 16px;
        }

        .elements-nav__item__header__title {
          font-size: 36px;
        }
      }

    }
  }
  .form-reg__alert__ico {
    margin-bottom: 20px;
  }
  .form-reg__alert {
    padding-top: 5px;
  }
  .form-reg__alert__desc p {
    font-size: 14px;
  }
  .reg-box__right {
    padding-bottom: 0;
  }
  .form-reg__submit {
    .button {
      width: 100%;
      height: 48px;
    }
  }
  .form-reg__footer {
    padding-top: 35px;
  }
  .form-reg__inp label,
  .custom-checkbox__value,
  .form-reg__link,
  .form-reg__footer__text,
  .form-reg__wrap__header p {
    font-size: 12px;
    line-height: 16px;
  }
  .form-reg__wrap__header p br {
    display: none;
  }
  .form-reg__top a {
    font-size: 14px;
  }
  .reg-box__right__header {
    right: -15px;
  }
  .reg-box__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reg-box {
    background-image: url("../images/dist/bg-reg-mob.jpg");
    background-position: 50% 0;
  }
  .subscription__item__box__header {
    padding-right: 25px;
  }

  .library-banner-top__desc__footer {
    flex-direction: column;
    width: 180px;
    gap: 20px;
    padding-bottom: 20px;

    .mr-15 {
      margin-right: 0;
    }
  }
  .card-box--lib {
    text-align: center;

    .card-box__title {
      font-weight: 500;
    }
  }
  .card-box__row-price {
    flex-direction: column;
    gap: 10px;
    padding-top: 0;
  }
  .journal-top__desc__footer {
    flex-direction: column;
    width: 200px;
    padding-top: 5px;
  }
  .mb-35 {
    margin-bottom: 20px;
  }
  .journal-top__desc h1 {
    white-space: normal;
    width: 252px;
  }
  .new-journal-footer__btns {
    width: 160px;

    .button {
      height: 36px;
      font-size: 12px;
      padding: 5px 10px;
    }
  }

  .new-journal-footer__params__label {
    width: 110px;
  }
  .news__slider__item__front,
  .news__slider__item {
    height: 172px;
  }

  .banner {
    padding-left: 16px;
    padding-right: 16px;
  }
  .banner--journal {
    padding-bottom: 180px;
  }
  .accordion__item__body {
    font-size: 14px;
  }
  .accordion__item__header {
    font-size: 16px;
  }
  .caption--h5 {
    font-size: 18px;
  }
  .link-box {
    display: block;
  }
  .link-box__name {
    font-size: 18px;
  }
  .link-box__desc {
    font-size: 14px;
  }
  .row {
    margin-right: -6px;
    margin-left: -6px;

    & > * {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .tpad25 {
    padding-top: 5px;
  }
  .shop-box__text {
    min-height: auto;
    padding-bottom: 25px;
    padding-top: 15px;

    p br {
      display: none;
    }
  }
  .shop-box__text h2 {
    font-size: 18px;
  }
  .shop-box__text p {
    font-size: 14px;
  }
  .shop-box {
    height: auto;
    border-radius: 10px;
    padding: 30px 20px;
  }
  .shop-box__img {
    order: -1;
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: 125px;
    }
  }
  .form-control {
    font-size: 14px;
  }
  .subscription__item__box__itog-month {
    text-align: center;
  }
  .subscription__item__box__inp .dropdown-menu li {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .toolbar-top__right {
    gap: 12px;
  }
}
